{% extends '_base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form method="POST" class="form-horizontal">
			<div class="panel panel-default">
				<div class="panel-heading"><h5>Register</h5></div>
				<div class="panel-body">
					{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
						<div class="alert alert-info">
							<strong>{{ error|escape }}</strong>
						</div>
						{% endfor %}
					{% endif %}
					{% csrf_token %}
					{% for field in form %}
					<div class="form-group">
						<label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
						<div class="col-sm-10">
							{{ field }}
							<span class="help-block">{{ field.help_text }}</span>
						</div>
					</div>
					{% endfor %}
					<div class="form-group">
						<div class="col-sm-10">
							<p>by using imglnx.com you agree to the <a href="{% url 'about' %}" target="_blank" rel="noopener noreferrer">Terms of Service</a></p>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<a class="btn btn-info" href="{% url 'login' %}" type="button">Already Registered?</a>
					<span class="pull-right"><button class="btn btn-success" type="submit">Register</button></span>
					<div class="clearfix"></div>
				</div>
			</div>
		</form>
	</div>
</div> 


{% endblock %}