{% extends '_base.html' %}

{% block title %}About{% endblock %}

{% block nav-about %}
<li class="active"><a href="#">About</a></li>
{% endblock %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading"><h5>About</h5></div>
	<div class="panel-body">
		<!-- History/About -->
		<h2>About imglnx</h2>
		<p>imglnx is a free image hosting service originally created in August 2013 then quickly disbanded has reformed in December 2016.<br />
			imglnx is working to become a widely used image host that doesn't <strong>log identifiable information</strong>, <strong>track you</strong>, or <strong>have ads</strong>.<br />
			The more imglnx grows the more we'll continue to update the site with new features and more servers.<br /><br />
			Remember, we're not designers we're programmers. :)
		</p>

		<br />
		<!-- Legal -->
		<h2>Legal Information</h2>
		<p>A <a href="/static/downloads/canary.txt">warrant canary</a> is available.</p>
		<p>imglnx/imglnx.com staff reserves the right to delete any image (if breaking a rule or country law where we're hosted) and or ban an abusive ip address*/user at any time without any notice. imglnx/imglnx.com staff also reserve the right to modify these terms at any time with a 15 day notice displayed on all pages before the changes go live.<br />
		imglnx/imglnx.com service is a provided as-is with no implied warranties of any kind. We can not be held responsible for the loss of data or other damages which
		may result from (lack of) functionality of our service.<br /><br />
		With that being said, we do not take any responsibility for the images hosted on any of our servers.<br />
		If you believe an image is breaking any of our rules or laws in the country that we're hosted in please report them.<br /><br />
		Any and all content is allowed with the exception of a few things listed below. (just to keep us out of prison ;))<br />
		<ul>
			<li>Anything illegal under Romanian law</li>
			<li>Child Pornography/Nudity/Modeling</li>
			<li>Content that promotes terrorism</li>
		</ul>
		<br />
		* You said you don't log any data!?!!! Correct, we don't - however, if we notice that the service is being abused we'll enable logging of connections for a short time so we can ban the ip address from the service. (We use <code>access_log off;</code> in our nginx config and write logs to /dev/null every 10 minutes incase our config writes logs.)

		<br />
		<!-- Privacy Policy -->
		<h2>Data we store/collect</h2>
		<ol>
			<li>Username - <em>used for logging you in</em></li>
			<li>Password - <em>well to login?</em></li>
			<li>Register Date - <em>help determine if an account has been inactive</em></li>
			<li>Last Activity Date - <em>help determine if an account has been inactive</em></li>
			<li>Media (images) - <em>well... you uploaded them so?</em></li>
			<li>Media Upload Date - <em>so we can delete them after X time in the future</em></li>
		</ol>
		If we have a security issue that affects our users data, we'll notify you via email, our <a href="https://twitter.com/imglnx">Twitter</a>, and any other resources we're able to post on. We take the security and privacy of our users very seriously and will notify you immediately if an issue arises. 
	</div>
	<div class="panel-footer"></div>
</div>
{% endblock %}